
/*=================================datepage_nav_tab===========================*/
.datepage_tab{ height:33px; background:#f1f1f1; border-width:0px 1px 1px 1px;border-style:solid;border-color:#e7e7e7 #e7e7e7 #e7e7e7 #e7e7e7;}
.datepage_ul{padding-left:16px;width:964px; height:33px;}
.datepage_ul_li {float:left; position:relative;text-align:center; width:94px; line-height:33px;  background:url(../images/v_line.png) no-repeat right 6px; height:33px; position:relative;}
.ajs{color: #333;display:inline-block;height:33px;line-height:33px; overflow:hidden;width:94px;}
.datepage_ul_li a:hover{color:#cc0033; text-decoration:none;}
.active_nav{ background:#fff; font-weight:bold;}

.ul_two{ width:172px; border-width:1px 1px 0px 1px; border-style:solid; border-color:#d7d7d7; position:absolute; top:40px; right:0; display:none; background:#fff;}
.li_two{ height:42px; border-bottom:1px solid #d7d7d7; text-align:left;padding:5px 8px 2px; background:url(../img/li_bj2.png) no-repeat 156px center; position:relative;}
.active_li_two{ background:#eefcdd;}
.h2_two{ font-size:12px; font-weight:bold; height:20px; line-height:20px; margin-left:3px;}
.datepage_ul_li .h2_two a{display:inline;  height:20px; line-height:20px;}
.li_two_p{ height:20px; line-height:20px; float:left; width:144px;}
.datepage_ul_li .li_two_p a{ padding:0 3px; display:inline;  height:20px; line-height:20px;}
.li_div_two{ position:absolute; left:172px; top:-1px; width:214px; height:52px; background:#eefcdd; border:1px solid #cdcdcd; padding:13px 0px 13px 10px; display:none;}
datepage_ul_li .li_div_two p{ width:194px; height:52px;}
.datepage_ul_li .li_div_two a{ float:left; width:50px; height:26px; text-align:left; margin:0 10px;}
.datepage_ul_li .ul_two a:hover{ color:#256504; text-decoration:underline;}


.advertisement{ height:254px; margin-top:19px;}

.datemob{ border:1px solid #cae8ae; margin-top:10px;}
.mb_content{margin-top:10px;}
.content_top{ height:39px; background:#eefcdd; border-top:1px solid #cae8ae; line-height:38px; position:relative;}
.content_top h2{ font-size:14px; padding-left:20px;}
.tit_list_content{float:left; padding-left:4px;width: 654px;}
.dataColor{ color:#256504;}
.dataColor:hover{ color:#256504; text-decoration:underline;}
.bot_img_tab{ width:608px; margin:0 auto; height:190px; padding:22px 0; overflow:hidden; position:relative;}
.content_bot{ position:relative; height:234px; }
.nav_butL{ width:28px; height:70px; display:block; background:url(../img/but_tab.png) no-repeat 0 0; position:absolute; left:25px; top:85px;}
.nav_butL:hover{background:url(../img/but_tab.png) no-repeat 0 -70px;}
.nav_butR{width:28px; height:70px; display:block; background:url(../img/but_tab.png) no-repeat -28px 0; position:absolute; right:25px; top:85px;}
.nav_butR:hover{background:url(../img/but_tab.png) no-repeat -28px -70px;}
.img_tab_list{ width:1350px; position:absolute; left:0; top:center;}
.img_mob{ width:268px; float:left;}
.img_mob dt{ width:70px; height:74px; float:left}
.img_mob dd{ padding:4px 0 0 2px; float:left;}
.fn_14{ font-size:14px; word-wrap: break-word; width:190px; line-height:24px;}
.fn_12 a{ font-size:12px; color:#256504; line-height:18px;}
.space38{ height:38px; overflow:hidden;}
.mar_n08{ margin-top:0; height:32px; line-height:32px;}
.hei_n48{ height:48px; line-height:22px; overflow:hidden;}

